# Built-in Libraries (No need to install these as they are part of Python)
# - os
# - sys
# - ctypes
# - subprocess
# - urllib.request
# - time
# - pathlib
# - hashlib
# - json
# - re

# External Libraries (Install these with pip)
yt-dlp==2025.2.19  # For downloading videos (alternative to youtube-dl)
chromadb==0.6.3  # Chroma database
Flask==3.1.0  # Flask for web app
flask-cors==5.0.0  # CORS handling for Flask
opencv-python==4.11.0.86  # For video processing (cv2)
Pillow==10.4.0  # For image processing (PIL)
transformers==4.49.0  # For BLIP model (image captioning)
sentence-transformers==3.4.1  # For sentence embeddings
whisper==1.1.10  # For audio transcription with Whisper

# You might want to add other models or specific versions based on your setup


#To install all the dependencies, run the following command in the terminal:
#<pip install -r backend/requirements.txt>